body {
  background: #e5e5e5;
  width: 175px;
  height: 53px;
  margin: 0;
  padding: 7px;
  font-family: Helvetica;
}

#url {
  background: white;
  color: #1a2c3f;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  margin-bottom: 5px;
  height: 25px;
  padding-top: 1px;
  font-size: 1.05em;
  text-align: center;
  box-sizing: border-box;
}

#url a,
#url a:hover {
  outline: none;
  text-decoration: none;
  color: #fff;
}

#actions button {
  text-transform: uppercase;
  height: 23px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  border: 1px solid #93c114;
  background-color: #b6d739;
  outline: none;
}

#copy-url {
  width: 70px;
  margin-right: 5px;
  border-radius: 5px;
}

#url-details {
  width: 100px;
  border-radius: 5px;
}

#actions button:hover {
  cursor: pointer;
  border: 1px solid #b6d739;
  background-color: #93c114;
}

#actions button:active {
  border: 1px solid #93c114;
  background-color: #b6d739;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
